<?xml version="1.0" ?>
<model>
  <name>my_drone</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Mouad BEZZAZ</name>
    <email>bezzazmouad@gmail.com</email>
  </author>
  <description>
    A quadcopter drone model for Gazebo Fortress simulation, developed for PFA project.
  </description>
  
  <metadata>
    <framework>
      <name>Ignition Gazebo</name>
      <version>Fortress</version>
    </framework>
    <properties>
      <type>Multirotor</type>
      <mass>1.5</mass>
      <dimensions>
        <length>0.3</length>
        <width>0.3</width>
        <height>0.2</height>
      </dimensions>
    </properties>
  </metadata>
</model>

